<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
      </nav>
     {% if username %}
        <a class="btn btn-outline-primary" href="/auth/logout/">Exit ({{ username }})</a>
         {% else %}
         <a class="btn btn-outline-primary" href="/auth/login">Enter</a>
    {% endif %}
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-7"><strong>Links {{ username }}</strong></div>

    </div>
    <div class="row">
        <div class="col-lg-1">№</div>
      <div class="col-lg-3">Client</div>
        <div class="col-lg-5">URL</div>
      <div class="col-lg-3">Date</div>
    </div>

    {% for client in clients %}
        <div class="row">
            <div class="col-lg-1">{{forloop.counter}}</div>
          <div class="col-lg-3">{{client.creater}}</div>
            <div class="col-lg-5">{{client.url}}</div>
          <div class="col-lg-3">{{client.date}}</div>
        </div>

    {% endfor %}




</div>